<% content_for :title do %>
  <%= @entry.meal_type %> &ndash; <%= DateTime.now.to_fs(:nice_date)%>
<% end %>
<div id="<%= dom_id entry %>">
      <nav class="panel is-link">
        <p class="panel-heading">
          <%= entry.meal_type %>:
          <%= @entry.category.title if entry.category.present? %>
        </p>

        <div class="panel-block">
          Calories: <%= entry.calories %>
        </div>

        <div class="panel-block">
          Proteins: <%= entry.proteins %>
        </div>

        <div class="panel-block">
          Carbohydrates: <%= entry.carbohydrates %>
        </div>

        <div class="panel-block">
          Fats: <%= entry.fats %>
        </div>
      </nav>

</div>
